/*  your css code here. If applicable */
body{
	display:flex;
	align-items:center;
	justify-content:center;
}
.container{
	width:600px;
	height:200px;
	border:5px solid black;
	border-radius:15px;
	display:flex;
	align-items:center;
	justify-content:space-around;
	background-color:lightgray;
}
.red{
	width:100px;
	height:100px;
	border:1px solid black;
	border-radius:50%;
	background-color:red;
}
.yellow{
	width:100px;
	height:100px;
	border:1px solid black;
	border-radius:50%;
	background-color:yellow;
}
.green{
	width:100px;
	height:100px;
	border:1px solid black;
	border-radius:50%;
	background-color:green;
}


