/*  your css code here. If applicable */
body{
	display:flex;
	align-items:center;
	justify-content:center;
}
#container{
	width:600px;
	height:200px;
	border:5px solid black;
	border-radius:15px;
	display:flex;
	align-items:center;
	justify-content:space-around;
	background-color:lightgray;
}
#container div{
	width:100px;
	height:100px;
	border:1px solid black;
	border-radius:50%;
}
#container :nth-child(1){
	background-color:green;
}
#container :nth-child(2){
	background-color:yellow;
}
#container :nth-child(3){
	background-color:red;
}
